<table class="table">
  <thead>
    <tr>
      <th class="h5">Id</th>
      <th class="h5">Nombre</th>
      <th class="h5">Sponsorship</th>
      <th class="h5">Image</th>
      <th class="h5">Correo</th>
      <th class="h5">Web</th>
    </tr>
  </thead>
  <tbody>
      <td>
        <dd>{{sponsorDetail.id}}</dd>
      </td>
      <td>
        <dd>{{sponsorDetail.name}}</dd>
      </td>
      <td>
        <dd>{{sponsorDetail.sponsorship}}</dd>
      </td>
      <td>
        <dd>{{sponsorDetail.image}}</dd>
      </td>
      <td>
        <dd>{{sponsorDetail.correo}}</dd>
      </td>
      <td>
        <dd>{{sponsorDetail.web}}</dd>
      </td>
  </tbody>
</table>


