<div class="container-fluid">
  <table>
    <td>
      <div class="container-fluid">
        <img
          class="img-fluid"
          src="{{ conciertoDetail.image }}"
          style="width: 80px"
        />
      </div>
    </td>
    <td>
      <p class="h3 p-3">{{ conciertoDetail.band }}</p>
      <p class="h3 p-3">{{ conciertoDetail.date }}</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">General</th>
            <td>{{conciertoDetail.general.quantity}} </td>
            <td>{{conciertoDetail.general.price }}</td>
          </tr>
          <tr>
            <th scope="row">Platino</th>
            <td>{{conciertoDetail.platino.quantity}}</td>
            <td>{{conciertoDetail.platino.price}}</td>
          </tr>
          <tr>
            <th scope="row">Platino</th>
            <td>{{conciertoDetail.platino.quantity}}</td>
            <td>{{conciertoDetail.platino.price}}</td>
          </tr>

        </tbody>
      </table>
    </td>
    <td>
      <div class="col">
        <dt>id de los Sponsor</dt>
        <ul *ngFor="let a of conciertoDetail.sponsors">{{ a.id }} </ul>
      </div>
    </td>
  </table>





