
  <h2 style="font-weight: bold;padding-bottom: 5px;">Valor del combo platino: $883,481.60</h2>
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <td *ngFor="let c of conciertos">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src={{c.image}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{c.band}}</h5>
            <p class="card-text">{{c.date}}</p>
            <a href="#" class="btn btn-primary"(click)="onSelected(c)">Ver Detalle</a>
          </div>
        </div>
      </td>
    </tbody>
  </table>
  <div class="col" >
    <h2 style="font-weight: bold; padding-bottom: 5px">Detalle del Concierto</h2>
  <div *ngIf="selected">
    <app-concierto-detalle [conciertoDetail]="conciertoSeleccionado"></app-concierto-detalle>
    <app-sponsor-detalle [sponsorDetail]="sponsorSeleccionado"></app-sponsor-detalle>
  </div>
  <div class="col" >
    <h2 style="font-weight: bold; padding-bottom: 5px">Detalle del Sponsor</h2>
    <div *ngIf="selected">
      <app-sponsor-detalle [sponsorDetail]="sponsorSeleccionado"></app-sponsor-detalle>
    </div>
  </div>


